@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes jump {
    0%, 100% {
        transform: scale(100%);
    }
    10% {
        transform: scale(80%);
    }
    50% {
        transform: scale(120%);
    }
}
.animate-jump-slow {
    animation: jump 5s both;
    animation-iteration-count: infinite;

}